body {
    margin: 0;
    padding: 0;
    background-color: #632778;
    font-family: sans-serif;
}

/**/
.block {
    width: 1300px;
    background-color: #FFFFFF;
    margin: 50px auto;
    height: 100vh;
    border-radius: 5px;
    display: flex;
}

/**/
.block2 {
    display: flex;
    align-items: center;
    width: 1300px;
}

/*First*/
.block1 {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.o{
    border-left: #DEE2E6 solid 1px;
    border-right: #DEE2E6 solid 1px;
    height: 100vh;
}

.n{
    margin: 30px auto;

}
.block12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 100px auto;

}

.photo {
    display: flex;
    width: 150px;
    height: 150px;
}

.photo_photo {
    border-radius: 50%;
    width: 100%; /* Заполните всю доступную ширину контейнера */
    height: auto; /* Сохраните пропорции изображения */
    display: block;
}

.block_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.block1 .email {
    margin: 0;
    padding: 0;
    color: #7F7F7F;
}

.block1 h3 {
    margin: 15px auto 5px;
    padding: 0;
}

/**/
.centr {
    width: 550px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
}

label {
    font-size: 10px;
    padding: 0;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 1px solid #632778;
}

/**/
.block123 {
    margin: 30px auto;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    width: 405px;
}

.Experience {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 0;

}

.btn-exs {
    margin-left: 150px;
    background-color: #FFFFFF;
    border: #DEE2E6 solid 1px;
    width: 105px;
    height: 30px;
    font-size: 15px;
    padding: 0;
}

.btn-exs:hover {
    background-color: #BA68C8;
    color: #FFFFFF;

}
.in{

    margin: 15px auto;
}
.inp{
    width: 300px;
}
.i{
    margin: 5px;
    width: 500px;
}
.inputy{
    margin: 0 auto;
    height: 400px;
}